name: Test
on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: ['22.13.1']
    name: Node ${{ matrix.node }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node }}
      - run: yarn global add lerna
      - run: yarn install
      - run: yarn test
